@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');

$lightBlue: #B3E0FF;
$blue: #253C88;
$darkBlue: #192A62;
$orange: #E58F14;
$yellow: #EEBB0A;

* {
    font-family: 'Raleway';
}

.dinamik-navbar {
    background-color: $blue;
    min-height: 65px;
    
    .navbar-brand {
        color: #FFF;

        img {
            width: 185px;
        }
    }

    .nav-link {
        color: #DDD;
        font-weight: 600;

        &:hover {
            color: #FFF;
        }
    }

    .navbar-toggler {
        padding-top: 0;
        padding-bottom: 0;
        border: 0;

        &:focus {
            outline: 0;
        }

        .bar {
            position: relative;
            width: 40px;
            background-color: #FFF;
            height: 4px;
            border-radius: 1rem;
            display: block;
            margin: .5rem 0;
        }
    }

}

.page-section {
    padding: 4rem 0;

    .title {
        text-align: center;
        font-weight: 700;
        font-size: 2rem;
        position: relative;

        &::after {
            content: '';
            position: relative;
            display: block;
            width: 100px;
            height: 6px;
            border-radius: 1rem;
            background-color: $blue;
            top: 4px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .subtitle {
        margin: 1rem 0;
        text-align: center;
        font-weight: 600;
        font-size: 1.25rem;
        color: #777;
    }
}

.btn {
    border-radius: 2rem;
    padding: .5rem 2rem;
    font-weight: 600;

    &.btn-yellow {
        background: linear-gradient(45deg, $yellow, $orange);
        color: #FFF;
        border: none
    }
}

.divider {

    overflow: hidden;

    &.white {
        background-color: $blue;

        svg {
            path {
                fill: #FFF;
            }
        }
    }

    &.blue {
        background-color: #FFF;

        svg {
            path {
                fill: $blue;
            }
        }
    }

    svg {
        position: relative;
        display: block;
        width: calc(140% + 1.3px);
        height: 100px;
    }
}

.competition-card-group {
    margin-top: 8rem;

    .competition-card {
        position: relative;
        background-color: $orange;
        border: none;
        border-radius: 1rem;
        transition: all .25s ease;
    
        img {
            position: relative;
            transform: translateY(-50%);
            margin-bottom: -40%;
            width: 100%;
        }
    
        .competition-title {
            color: #FFF;
            font-weight: 600;
            font-size: 1.75rem;
            text-align: center;
        }
    
        .competition-description {
            color: #EEE;
            font-weight: 500;
            font-size: 1.25rem;
            text-align: center;
        }
    
        &:hover {
            box-shadow: 0.5rem 0.5rem 0 rgba(233,236,239,.5);
        }
    }

}

@media (max-width: 768px) {
    .competition-card-group {
        margin-top: 10rem;
        
        .competition-card {
            margin-bottom: 8rem;
        }
    }
}

@media (max-width: 576px) {
    .competition-card-group {
        margin-top: 15rem;
        
        .competition-card {
            margin-bottom: 14rem;
        }
    }
}